name: pull-request-target

on:
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  contents: read  # This is required for actions/checkout
  id-token: write

env:
  AWS_REGION: "us-east-1"
jobs:
  example:
    name: Pull request target jobs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Print PR Title
        run: echo "Pull Request Title is ${{ github.event.pull_request.title }}"